.card1{
  background: #181f39;
  border: #efefef 1px solid;
  width: 25vh;
  height: 36vh;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4px 9px 20px; 
  border-radius: 2%;
  /* " margin: 20px 9px 20px; " esse treco mexe no espaçamento entre um CARD e outro, você pode ajustar os valores depois
  vale lembrar que a ordem é SUPERIOR, DIREITA, BAIXO, ESQUERDA*/
}

.img1{
  margin-bottom: 10px;
}

.descrição{
  font-size: 17px;
  color: #efefef;
  letter-spacing: 1px;
}

.orgCard{
  display: flex;
  justify-content: space-around;
}